* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #023047;
}

.card {
  /* border: 1px solir red; */
  width: 95%;
  max-width: 600px;
  background-color: #5078f2;
  background-image: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
  color: #fff;
  margin: 100px auto;
  border-radius: 20px;
  padding: 40px 10px;
  text-align: center;
  /* height: 100vh; */
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  border: none;
  background-color: #ffffff;
  padding: 12px;
  outline: none;
  border-radius: 50px;
  width: 70%;
  font-weight: 700;
  color: #000000;
  font-size: 100%;
  margin: 0px 10px;
  letter-spacing: .1rem;
}
input::placeholder{
  color: #858484;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #e9f542;

}

button img{
  width: 17px;
  font-weight: 900;
}

.weather-icon{
  width: 50%;
  min-width: 200px;
  margin-top: 10px;
}
.weather h1{
  font-size: 80px;
  margin-top: -30px;
}
.weather h2{
  font-size: 40px;
  font-weight: 700;
  /* border: 1px solid red; */
  margin-top: -px;
}

.details{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin-top: 20px;
  padding: 30px 10%;
  /* flex-direction: column; */
  
}
@media screen and (max-width: 310px) {
  .details{
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
  }
}
.details img{
  width: 70%;
}

.humidity, .Wind{
  font-size: 30px;
}